<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" target="_blank">
              <i class="bi bi-house-door"></i>
              Ir para o Início
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro">
              <i class="bi bi-search"></i>
              Voltar aos Cadastros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="alterar">
              <i class="bi bi-file-earmark-arrow-down"></i>
              Alterar / Remover
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Logout(Sair)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="text-header-cad">
    <h3>Alterar/Remover Leitores</h3>
  </div>
</header>

<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  {{!-- Formulário Alterações --}}
  <section class="alt-view-prat">
    <div class="alterar-prat">
      <div class="card alt-prat">
        <form id="register" action="/editar-leit" method="POST" enctype="multipart/form-data">
          <div> 
            <input type="hidden" name="codleitor" value="{{leitor.codleitor}}">
            <p>Nome</p>
            <input type="text" name="nomeleitor" value="{{leitor.nomeleitor}}" class="form-control">
          </div>
          <div>
            <p>Série</p>
            <select id="serie" name="serie">
              <option>{{leitor.serie}}</option>
              <option>série</option>
              <option>1º ano</option>
              <option>2º ano</option>
              <option>3º ano</option>
              <option>4º ano</option>
              <option>5º ano</option>
              <option>6º ano</option>
              <option>7º ano</option>
              <option>8º ano</option>
              <option>9º ano</option>
            </select>
            <p>Cargo</p>
            <input type="text" name="cargo" value="{{leitor.cargo}}" class="form-control">
            <p>Status</p>
            <select id="status" name="status">
              <option>{{leitor.status}}</option>
              <option>Ativo</option>
              <option>Suspenso</option>
              <option>Cancelado</option>
            </select>
          </div>
          <div id="register-obs">
            <p>Observações</p>
            <input type="text" name="obs" value="{{leitor.observacao}}" class="form-control">
          </div>
          <div>
            <input type="submit" class="btn btn-primary" value="Alterar">
            <a href="/alterar" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>