<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" target="_blank">
              <i class="bi bi-house-door"></i>
              Ir para o Início
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro">
              <i class="bi bi-search"></i>
              Voltar aos Cadastros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="alterar">
              <i class="bi bi-file-earmark-arrow-down"></i>
              Alterar / Remover
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Logout(Sair)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="text-header-cad">
    <h3>Alterar/Remover Livros</h3>
  </div>
</header>

<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  {{!-- Formulário Alterações --}}
  <section class="alt-view-prat">
    <div class="card registers">
      <div class="alt-exem-cont">
        <form id="register" action="/editar-exem" method="POST" enctype="multipart/form-data">
          <div> 
            <input type="hidden" name="codexemplar" value="{{exemplar.codexemplar}}">
            <p>Prateleira</p>
            <input type="text" name="prateleira" value="{{exemplar.prateleira}}">
            <p>Título</p>
            <input type="text" name="titulo" value="{{exemplar.titulo}}" >
          </div>
          <div>
            <p>Autor1</p>
            <input type="text" name="autor1" value="{{exemplar.autor1}}">
            <p>Autor2</p>
            <input type="text" name="autor2" value="{{exemplar.autor2}}">
            <p>Autor3</p>
            <input type="text" name="autor3" value="{{exemplar.autor3}}">
          </div>
          <div>
            <p>Editora</p>
            <input type="text" name="editora" value="{{exemplar.editora}}">
            <p>Edição</p>
            <input type="text" name="edicao" value="{{exemplar.edicao}}">
            <p>Publicação</p>
            <input type="text" name="publicacao" value="{{exemplar.publicacao}}">
          </div>
          <div>
            <p>Gênero</p>
            <input type="text" name="genero" value="{{exemplar.genero}}">
            <p>ISBN</p>
            <input type="text" name="isbn" value="{{exemplar.isbn}}">
            <p>Status</p>
            <select id="status" name="status">
              <option>{{exemplar.status}}</option>
              <option>Disponível</option>
              <option>Indisponível</option>
            </select>
          </div>
          <div id="register-obs">
            <p>Observações</p>
            <input type="text" name="obs" value="{{exemplar.observacao}}" >
          </div>
          <div>
            <p>Imagem Capa</p>
            <input type="text" name="imagem" value="{{exemplar.imagem}}">
          </div>
          <div>
            <input type="submit" class="btn btn-primary" value="Alterar">
            <a href="/alterar" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>